*.idb
*.obj
*.cod
*.pch
*.log
*.manifest.res
*.manifest
*.tlog
*.map
*.lst
*.hst
*.qdf
*.qws
*.pin
*.summary
*.smsg
*.rpt
*.done
*/db/*
*/incremental_db/*
*.sdf
*.opensdf
*.suo
*.ncb
*.pdb
*.ilk
*.o
*.o.d
pentevo/unreal/Unreal/bin/Debug/*
pentevo/unreal/Unreal/bin/Release/*
pentevo/unreal/Unreal/tmp
pentevo/avr/current/default/*
pentevo/unreal/Unreal/Unreal.*.user
pentevo/unreal/Unreal/Unreal.aps
pentevo/unreal/*.spg
pentevo/unreal/*.trd
pentevo/unreal/*.TRD
pentevo/tools/spgbld/src/spgbld/test/spgbld.exe
pentevo/tools/spgbld/src/spgbld/Debug/spgbld_manifest.rc
pentevo/rom/src/tsfat.asm
pentevo/rom/src/sysvars.asm
pentevo/rom/src/starter.map
pentevo/rom/src/starter.bin
pentevo/rom/src/rslsys.bin.hst
pentevo/rom/src/rslsys.asm
pentevo/rom/src/866_code.fnt.hst
pentevo/rom/src/866_code.asm
pentevo/rom/bin/TS-BIOS.$C
pentevo/fpga/current/quartus/serv_req_info.txt
